:root {
	--main-bg-color: rgb(60, 60, 60);
	--chat-bg-color: rgb(73, 73, 73);
	--secondary-chat-bg-color: rgb(30, 30, 30);
	--purple-color: #8774e1;
	--purple-color-hover: #907dee;
	--secondary-color: #00bd9b;
	--chat-hover-color: rgb(50, 50, 50);
	--chat-online-color: rgb(0, 219, 0);
}

body {
	font-family: "Nunito", sans-serif;
	background: var(--main-bg-color);
	color: white;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

/* All users */
.all-users {
	display: flex;
	margin-bottom: 1rem;
}

.single-user {
	background: rgb(0, 213, 255);
	cursor: pointer;
	padding: 5px 7px;
	border-radius: 10px;
	margin-right: 0.5rem;
	position: relative;
}

/* User Card */
.user-card {
	position: relative;
	width: 380px;
	border-radius: 10px;
}

.user-card.active {
	background-color: var(--purple-color);
}

.user-card:not(.active):hover {
	background-color: var(--chat-hover-color);
}

.user-card .text-content {
	width: 170px;
}

.user-card .name {
	font-weight: 800;
}

.user-card .text,
.user-card .date {
	font-size: 12px;
}

.avatar-container {
	position: relative;
}

.user-online {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: var(--purple-color);
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 2;
	border: 2px solid var(--secondary-chat-bg-color);
}

.user-online.active {
	display: inline-block;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: white;
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 2;
	border: 2px solid var(--purple-color);
}

/* Chat Box */
.chat-box {
	height: 100vh;
	overflow-y: auto;
	background: var(--secondary-chat-bg-color);
	position: relative;
}

/* Chat Header */
.chat-header {
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 0.75rem;
	background: var(--secondary-chat-bg-color);
	min-height: 3.5rem;
	position: absolute;
	top: 0;
	width: 100%;
	gap: 0.5rem;
	border-left: 1px solid var(--main-bg-color);
}

.chat-navbar {
	background: var(--secondary-chat-bg-color);
	min-height: 3.5rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: start;
	padding: 0 1rem;
}
/* Messages */

.messages-box {
	height: calc(100vh - 3.5rem);
	overflow-y: auto;
	background: var(--secondary-chat-bg-color);
}

.messages {
	max-height: calc(100vh - 4.2rem);
	overflow-y: auto;
	padding: 3.5rem 2rem 0 2rem;
	background: var(--chat-bg-color);
}

.message {
	background: #282828;
	padding: 0.75rem;
	border-radius: 5px;
	max-width: 50%;
}

.message.self {
	background: var(--purple-color);
}

.message-footer {
	font-size: 12px;
	align-self: flex-end;
	font-weight: 400;
}

/* Chat Input  */
.chat-input {
	width: 100%;
	background: var(--chat-bg-color);
	padding: 0.5rem;
}
.send-btn {
	border: none;
	background: var(--purple-color);
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}
.bi-send-fill {
	color: #e0e0e0;
}

.chat-footer {
	position: absolute;
	bottom: 0;
}

/* Notification */
.notifications {
	position: relative;
}

.notifications-icon {
	cursor: pointer;
	position: relative;
	margin-right: 1rem;
}

.notifications-box {
	max-height: 50vh;
	width: 300px;
	position: absolute;
	top: 2rem;
	right: 0;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background: #181d31;
	z-index: 5;
}

.notifications-header {
	padding: 1rem;
	padding-bottom: 0;
	display: flex;
	justify-content: space-between;
}

.notifications-box h3 {
	font-weight: 700;
	font-size: 20px;
}

.mark-as-read {
	cursor: pointer;
	font-weight: 700;
	opacity: 0.8;
}

.notification {
	font-size: 14px;
	margin: 1rem 0;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid rgb(207, 207, 207);
	display: flex;
	flex-direction: column;
	cursor: pointer;
	padding: 0.5rem 1rem;
}

.notification.not-read {
	background: #263159;
}

.notification-time {
	margin-top: 0.2rem;
	font-size: 12px;
	color: #e0e0e0;
}

.notification-count {
	display: flex;
	background: var(--purple-color);
	height: 25px;
	width: 25px;
	font-size: 14px;
	font-weight: 700;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -10px;
	right: -15px;
}

.this-user-notifications {
	display: flex;
	background: var(--purple-color);
	height: 20px;
	width: 20px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.this-user-notifications.active {
	display: flex;
	color: var(--purple-color);
	background: white;
	height: 20px;
	width: 20px;
	font-size: 12px;
	font-weight: 700;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.user-search-list {
	position: absolute;
	max-height: 17rem;
	border-radius: 5px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 1;
}

.dropdown-toggle::after {
	content: none;
}

.btn-main {
	--bs-btn-color: white;
	--bs-btn-bg: var(--purple-color);
	--bs-btn-border-color: var(--purple-color);
	--bs-btn-hover-color: white;
	--bs-btn-hover-bg: var(--purple-color-hover);
	--bs-btn-hover-border-color: var(--purple-color-hover);
	--bs-btn-focus-shadow-rgb: 11, 172, 204;
	--bs-btn-active-color: white;
	--bs-btn-active-bg: var(--purple-color-hover);
	--bs-btn-active-border-color: var(--purple-color-hover);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: white;
	--bs-btn-disabled-bg: var(--purple-color);
	--bs-btn-disabled-border-color: var(--purple-color);
}

.link-main {
	color: var(--purple-color);
}

.form-control:focus {
	border-color: var(--purple-color);
	box-shadow: 0 0 0 0.25rem rgb(135 116 225 / 25%);
}
